# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

raw1 = pd.read_csv(url1)
raw2 = pd.read_csv(url2)
raw3 = pd.read_csv(url3)

In [2]:
raw1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [3]:
raw2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [4]:
raw3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [5]:
from data_cleaning_2 import main

df1 = main(url1)
df2 = main(url2)
df3 = main(url3)

In [6]:
df_all = pd.concat([df1, df2, df3], ignore_index=True)

In [7]:
df_all = df_all.drop_duplicates()

df_all.duplicated().sum()

np.int64(0)

In [8]:
df_all.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [9]:
df_all.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [10]:
df_all.shape

(9135, 11)

In [11]:
df_all

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,Unknown,Master,5.881742e+05,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
9133,LA72316,California,M,Bachelor,2.340599e+04,71941.0,73.0,0.0,Personal Auto,Four-Door Car,198.234764
9134,PK87824,California,F,College,3.096511e+03,21604.0,79.0,0.0,Corporate Auto,Four-Door Car,379.200000
9135,TD14365,California,M,Bachelor,8.163890e+03,0.0,85.0,0.0,Corporate Auto,Four-Door Car,790.784983
9136,UP19263,California,M,College,7.524442e+03,21941.0,96.0,0.0,Personal Auto,Four-Door Car,691.200000
9137,Y167826,California,M,College,2.611837e+03,0.0,77.0,0.0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [12]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df = pd.read_csv(url)

In [13]:
df.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [14]:
df.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

In [15]:
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [16]:
df = df.drop(columns=["unnamed:_0"])

In [17]:
pivot_revenue = (df.pivot_table(values="total_claim_amount",index="sales_channel",aggfunc="sum").round(2))

pivot_revenue

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

Sales generated through agents represent the largest share of total revenue, suggesting that personalized, agent-led interactions are currently the most effective sales channel. Branch offices also perform strongly, while digital channels such as web contribute less to total revenue, indicating potential room for growth in online sales strategies.

In [18]:
pivot_clv = (df.pivot_table(values="customer_lifetime_value",index="gender",columns="education",aggfunc="mean").round(2))

pivot_clv

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

Average customer lifetime value varies more strongly by education level than by gender. Customers with lower formal education (“High School or Below”) show the highest CLV on average, while customers with doctoral education present the lowest values. Gender differences are minimal across all education levels, suggesting that education is a more relevant factor than gender in explaining long-term customer value.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [22]:
df["number_of_open_complaints"].value_counts()

number_of_open_complaints
0.000000    8160
1.000000    1145
0.384256     633
2.000000     414
3.000000     324
4.000000     166
5.000000      68
Name: count, dtype: int64

In [20]:
complaints_long = (df.groupby(["policy_type", "month"])["number_of_open_complaints"].sum().reset_index())

complaints_long

      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                 443.434952
1  Corporate Auto      2                 385.208135
2   Personal Auto      1                1727.605722
3   Personal Auto      2                1453.684441
4    Special Auto      1                  87.074049
5    Special Auto      2                  95.226817

In [26]:
df["month"].unique()

array([2, 1])

The analysis shows that complaint volume differs significantly by policy type. Personal Auto consistently registers the highest number of complaints in both observed months, making it the most complaint-prone policy category. Corporate Auto presents a moderate level of complaints, while Special Auto shows very low complaint volumes across the period.

From a temporal perspective, most policy types display a higher number of complaints in month 1 compared to month 2, suggesting a potential short-term seasonal or operational pattern. An exception is Special Auto, which shows a slight increase in complaints in month 2, although the overall number remains low.

It is important to note that the dataset only includes data for two months. Therefore, conclusions about seasonality are limited to this time range and should be interpreted with caution.

Overall, these results suggest that customer service efforts could be prioritized toward Personal Auto policies, particularly during periods with higher complaint volumes.